<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/classic.css">
    <!--<link rel="stylesheet" href="stylesheets/parallax.css">-->
    <link rel="stylesheet" href="stylesheets/ac-parallax.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="MainController as mainCtrl" ng-class="{'debug-on':mainCtrl.debug}">
<div id="top">

    <div id="login">
        <div class="outer-center outer-top">
            <div class="inner-center inner-top">
                <div ng-if="!mainCtrl.user_is_logged">Bienvenido! <a
                        ng-click="mainCtrl.crearCliente();" href="">Registrate</a> o
                    <a ng-click="mainCtrl.ingresarCliente();" href="">Ingresá a tu
                        cuenta</a>
                    <button ng-click="mainCtrl.debug = !mainCtrl.debug">debug</button>
                </div>
                <div ng-if="mainCtrl.user_is_logged">Bienvenido {{mainCtrl.cliente.nombre}}! <a
                        ng-click="mainCtrl.logout()"
                        href="">Salir</a>
                </div>
            </div>
        </div>
    </div>
    <div id="shop">

        <div class="outer-center outer-top">
            <div class="inner-center inner-top shop-menu">

                <div>
                    <div ng-click="mainCtrl.active_form = 'main';" id="menu-logo">
                        <img src="img/logo_top.png" alt="BayresNoProblem"/>
                    </div>
                </div>

                <div ng-if="!mainCtrl.menu_mobile" id="menu-spacer"></div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-home" ng-click="mainCtrl.destacadosForm();">
                    <div><img src="img/home.png" alt="compras"/></div>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-carrito" ng-click="mainCtrl.comprar();">
                    <span>Mi Carrito</span>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-account" ng-click="mainCtrl.cuenta();">
                    <span>Mi Cuenta</span>
                </div>
                <div ng-if="!mainCtrl.menu_mobile" id="menu-checkout" ng-click="mainCtrl.comprar();">
                    <span>Finalizar Compra</span>
                </div>
                <div id="menu-detalle">
                    <div>
                        <div><img src="img/cart.png" alt="compras"/>Compras</div>
                    </div>
                    <div id="menu-detalle-bottom">
                        <ac-angular-carrito snipet="true" class="snipet"></ac-angular-carrito>
                    </div>

                </div>
                <div id="menu-mobile" ng-if="mainCtrl.menu_mobile">
                    <div class="nav-button"
                         ng-click="mainCtrl.menu_mobile_open = !mainCtrl.menu_mobile_open;"
                         ng-class="{'nav-button-transformed':navCtrl.closed}">
                        <div ng-class="{'nav-button-top-transformed':navCtrl.closed}"></div>
                        <div ng-class="{'nav-button-mid-transformed':navCtrl.closed}"></div>
                        <div ng-class="{'nav-button-bot-transformed':navCtrl.closed}"></div>
                    </div>
                </div>

                <div id="menu-mobile-detail" ng-if="mainCtrl.menu_mobile && mainCtrl.menu_mobile_open">

                </div>

            </div>
        </div>
    </div>
</div>


<div class="parallax" id="parallax">
    <div id="sucursales" class="parallax__group">
        <div id="sucursales-06" class="parallax__layer parallax__layer--deeper-4"></div>
        <div id="sucursales-05" class="parallax__layer parallax__layer--deeper-4"></div>
        <div id="sucursales-04" class="parallax__layer parallax__layer--deeper-3"></div>
        <div id="sucursales-03" class="parallax__layer parallax__layer--deeper-3"></div>
        <div id="sucursales-02" class="parallax__layer parallax__layer--deeper-2"></div>
        <div id="sucursales-01" class="parallax__layer "></div>


    </div>
    <div id="menu" class="parallax__layer parallax__layer--base">
        <div id="menu-container">
            <div class="outer-center">
                <div class="inner-center search-box">
                    <span>Buscar</span>

                    <div>
                        <input ng-model="mainCtrl.search" type="text"
                               ng-change="mainCtrl.searchByName();"/>
                        <span class="clear" ng-click="mainCtrl.search=''; mainCtrl.active_form = 'main';">x</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="outer-center search-results-container">
            <div class="inner-center">
                <!--DETALLE-->
                <div id="item-detail" ng-if="mainCtrl.active_form == 'details';">
                    <div class="title-results">DETALLE</div>
                    <div id="producto_detail">
                        <div class="outline">
                            <div class="picture_name">
                                <!--img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/-->
                                <img ng-src="./img/{{mainCtrl.detalle.fotos[0].nombre}}" alt="{{mainCtrl.detalle.nombre}}"/>
                                <div>{{mainCtrl.detalle.nombre}}</div>
                            </div>
                            <div>
                                <div class="detail_descripcion">
                                    {{mainCtrl.detalle.descripcion}}
                                </div>
                                <div class="btn-group" style="position: absolute; right: 0%;">
                                    <!--div class="spacer"></div-->
                                    <div  class="btn-comprar-detalle" ng-click="mainCtrl.agregarProducto(mainCtrl.detalle)">
                                        <div class="btn-comprar-position" style="margin-right:40px">
                                            <span style="color:red;">$ </span>{{mainCtrl.detalle.precios[0].precio}}
                                        </div>
                                    </div>

                                    <!--<div ng-if="mainCtrl.detalle.oferta_id !== -1" class="btn-comprar-detalle" ng-click="mainCtrl.agregarOferta(destacado)">-->
                                        <!--<div class="btn-comprar-position" style="margin-right:40px">-->
                                            <!--<span style="color:red;">$ </span>{{mainCtrl.detalle.precios[0].precio}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="btn-info-detalle" ng-click="mainCtrl.hideDetails();"></div>
                                    <div class="btn-face-detalle"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--SEARCH-->
                <div id="search-results" ng-if="mainCtrl.active_form == 'search';">
                    <div class="title-results">RESULTADOS</div>
                    <div id="productos_list">
                        <div class="destacado" ng-repeat="destacado in mainCtrl.productos" title="{{destacado.nombre}}">
                            <div class="outline">
                                <div class="producto-nombre">{{destacado.nombre.toUpperCase()}}</div>
                                <img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/>

                                <div class="btn-group">

                                    <div class="btn-comprar">
                                        <button ng-click="mainCtrl.agregarProducto(destacado)">
                                            <!--<img src="./img/boton.png" alt=""/>-->
                                            <span>$</span>{{destacado.precios[0].precio}}
                                        </button>
                                    </div>
                                    <div class="btn-info" ng-click="mainCtrl.showDetails(destacado);"></div>
                                    <div class="btn-face"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--LOGIN-->
                <div id="login-form" ng-if="mainCtrl.active_form == 'login';">
                    <div ng-if="mainCtrl.creaCliente" class="title-results">Registro</div>
                    <div ng-if="!mainCtrl.creaCliente" class="title-results">Ingresá</div>
                    <!--<div id="login_form">-->
                    <div id="login-form-container" style="margin-top: 10%;">
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.nombre" placeholder="Nombre"
                               type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.apellido" placeholder="Apellido"
                               type="text"/>
                        <!--<input ng-model="mainCtrl.mail" placeholder="Mail" type="text"/>-->
                        <input ng-if="mainCtrl.creaCliente"
                               ng-model="mainCtrl.fecha_nacimiento" placeholder="Fecha de Nacimiento" type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.telefono"
                               placeholder="Telefono" type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.direccion"
                               placeholder="Dirección" type="text"/>
                        <input ng-model="mainCtrl.mail" placeholder="Mail" type="text"/>
                        <input ng-if="mainCtrl.creaCliente" ng-model="mainCtrl.mail_repeat" placeholder="Repita Mail"
                               type="text"/>
                        <input ng-model="mainCtrl.password" type="password" placeholder="Password"/>

                        <div>
                            <button ng-if="!mainCtrl.creaCliente" ng-click="mainCtrl.ingresar();">Aceptar</button>
                            <button ng-if="!mainCtrl.creaCliente" ng-click="mainCtrl.creaCliente = true;">Nuevo Usuario
                            </button>
                        </div>
                        <div style="margin-bottom: 20px">
                            <button ng-if="mainCtrl.creaCliente" ng-click="mainCtrl.nuevoCliente();">Aceptar</button>
                            <button ng-if="mainCtrl.creaCliente" ng-click="mainCtrl.creaCliente = false;">Ingresar
                            </button>
                        </div>

                        <div ng-if="mainCtrl.usuario_creado == '-1'" style="color:#fff;">{{mainCtrl.message_error}}</div>
                    </div>
                    <!--</div>-->
                </div>

                <!--MI CUENTA-->
                <div id="cuenta-form" ng-if="mainCtrl.active_form == 'cuenta';">
                    <div class="title-results">Mi Cuenta</div>
                    <!--<div id="login_form">-->
                    <div id="cuenta-form-container">
                        <div class="border-form-container" style="flex-direction:row;">
                            <div style="min-height:180px;">
                                <div class="cliente-form-container" >
                                    <div style="margin-bottom:15px;">
                                        <label class="title-mi-cuenta">Modificar datos personales</label>
                                    </div>
                                    <div class="flexcontainer">
                                        <div class="row-3">
                                            <div class="cuenta-controls">
                                                <label for="">Apellido</label><br>
                                                <input ng-model="mainCtrl.cliente.apellido" placeholder="Apellido" type="text" />
                                            </div>
                                            <div class="cuenta-controls">
                                                <label for="">Nombre</label><br>
                                                <input ng-model="mainCtrl.cliente.nombre" placeholder="Nombre" type="text" />
                                            </div>
                                        </div>
                                        <div class="row-3">
                                            <div class="cuenta-controls">
                                                <label for="">Mail</label><br>
                                                <input ng-model="mainCtrl.cliente.mail" placeholder="Mail" type="text" />
                                            </div>
                                            <div class="cuenta-controls">
                                                <label for="">Dirección</label><br>
                                                <input ng-model="mainCtrl.cliente.direccion" placeholder="Dirección" type="text" />
                                            </div>
                                        </div>
                                        <div class="row-1">
                                            <div style="margin-top:60px;">
                                                <button ng-if="!mainCtrl.creaCliente" ng-click="mainCtrl.actualizarCliente();" style="width:40px !important;">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="mainCtrl.update_error == '1'" style="color:#fff;font-size: 14px;">{{mainCtrl.message_error}}</div>
                                </div>
                                <div class="password-form-container">
                                    <div style="margin-bottom:15px;">
                                        <label class="title-mi-cuenta">Modificar Contraseña</label>
                                    </div>
                                    <div class="flexcontainer">
                                <!--div style="flex:1;"-->
                                    <!--div class="cuenta-input"-->
                                        <div class="row-3">
                                            <div class="cuenta-controls">
                                                <label for="">Contraseña vieja</label><br>
                                                <input ng-model="mainCtrl.pass_old" placeholder="Contraseña vieja" type="password" />
                                            </div>
                                            <div class="cuenta-controls">
                                                <label for="">Contraseña nueva</label><br>
                                                <input ng-model="mainCtrl.pass_new" placeholder="Contraseña nueva" type="password" />
                                            </div>
                                        </div>
                                        <div class="row-1">
                                            <div style="margin-top:60px;">
                                                <button ng-click="mainCtrl.modificarPass();" style="width:40px !important;">Ok</button>
                                            </div>
                                        </div>

                                <!--/div-->
                                    </div>
                                    <div ng-if="mainCtrl.change_pwd_error == '1'" style="color:#fff;font-size: 14px;">{{mainCtrl.message_error}}</div>
                                </div>
                            </div>
                            <br>
                            <div style="margin-top: 15px;">
                                <div class="historial-pedidos-form-container">
                                    <div class="ultimos-pedidos">
                                        <label class="title-mi-cuenta" style="margin-right: 10px">Ultimos pedidos</label>
                                        <select ng-click="mainCtrl.detalle = mainCtrl.pedido.detalles;"
                                                ng-model="mainCtrl.pedido"
                                                ng-options="pedido.carrito_id + ' - ' + pedido.fecha + ' - ' + pedido.total for  pedido in mainCtrl.historico_pedidos">
                                        </select>
                                    </div>
                                    <div id="detalle-pedido">
                                        <div class="detalle-fila" style="width: 100%;">
                                            <label class="producto-titulo">Producto</label>
                                            <label class="producto-titulo-2">Cant.</label>
                                            <label class="producto-titulo-2">Precio U.</label>
                                            <label class="producto-titulo-2">Precio</label>
                                            <!--input ng-model="detalle.total" ng-init="detalle.total = detalle.precio * detalle.cantidad;" type="text" readonly class="info-detalle"/-->
                                        </div>
                                        <div ng-repeat="detalle in mainCtrl.detalle">
                                            <div class="detalle-fila">
                                                <label class="producto-nombre-2">{{detalle.nombre}}: </label>
                                                <span class="producto-cantidad">{{detalle.cantidad}}</span>
                                                <span class="producto-precio">{{detalle.precio | currency}}</span>
                                                <span class="producto-precio">{{detalle.precio * detalle.cantidad | currency}}</span>
                                                <img src="img/cart.png" />
                                                <!--input ng-model="detalle.total" ng-init="detalle.total = detalle.precio * detalle.cantidad;" type="text" readonly class="info-detalle"/-->
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: inline-block;width: 100%;">
                                        <div class="flexcontainer">
                                            <div style="flex:1">
                                                <!--button ng-click="mainCtrl.borrarCarrito();" >Borrar</button-->
                                                <button ng-click="mainCtrl.confirmarCarrito();" >Pedilo!</button>
                                            </div>
                                            <div style="flex:1;margin-top:30px;">
                                                <div style="float: right">
                                                    <label class="cuenta-subtotal" style="margin-right: 10px">Subtotal:</label>
                                                    <input ng-model="mainCtrl.pedido.total | currency" type="text" readonly style="width:140px !important;text-align: right;font-weight: bold;"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="mainCtrl.carrito_mensaje == '1'" style="color:#fff;font-size: 14px;">{{mainCtrl.message_error}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>


                <!--CARRITO-->
                <div id="carrito-form" ng-if="mainCtrl.active_form == 'carrito'">
                    <div class="title-results">Carrito</div>
                    <div id="carrito-form-container">

                        <ac-angular-carrito ng-if="!mainCtrl.compraTerminada" snipet="false"></ac-angular-carrito>

                        <div ng-if="!mainCtrl.compraTerminada" id="carrito-retira-por">

                            <div style="display: flex;">
                                <select
                                        ng-model="mainCtrl.tipo" name="" id="tipo">
                                    <option value="0">Envio a</option>
                                    <option value="1">Retira por</option>

                                </select>

                                <select ng-if="mainCtrl.tipo == 1"
                                        ng-model="mainCtrl.sucursal"
                                        ng-options="sucursal.nombre for sucursal in mainCtrl.sucursales" name="" id="">

                                </select>
                                <select ng-if="mainCtrl.tipo == 0"
                                        ng-model="mainCtrl.envios" name="" id="">
                                    <option value="Buenos Aires" selected>Buenos Aires</option>
                                    <option value="Interior">Interior</option>

                                </select>
                            </div>
                        </div>
                        <button ng-if="!mainCtrl.compraTerminada" ng-click="mainCtrl.finalizarCompra();">Pedilo!
                        </button>

                        <div class="carrito-compra-terminada"
                             ng-if="mainCtrl.compraTerminada">
                            <img src="img/compra_terminada.png" alt=""/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="tierra" class="parallax__group">

        <!--<div>-->
        <div id="tierra_04" class="parallax__layer parallax__layer--base"></div>
        <div id="tierra_03" class="parallax__layer parallax__layer--base"></div>
        <div id="tierra_02" class="parallax__layer parallax__layer--base"></div>
        <div id="tierra_01" class="parallax__layer parallax__layer--base"></div>

        <!--</div>-->
        <div id="ofertas" ng-if="mainCtrl.active_form == 'main';">
            <div id="ofertas-container-01" ng-if="mainCtrl.slider_nro == 1;">

                <img ng-src="./img/{{mainCtrl.ofertas[0].imagen}}" alt="{{mainCtrl.ofertas[0].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[0].titulo}}</span>
                <p>{{mainCtrl.ofertas[0].descripcion}}</p>
                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[0])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[0].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[0]);"></div>
                    <div class="btn-face"></div>
                </div>
            </div>
            <div id="ofertas-container-02" ng-if="mainCtrl.slider_nro == 2;">
                <img ng-src="./img/{{mainCtrl.ofertas[1].imagen}}" alt="{{mainCtrl.ofertas[1].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[1].titulo}}</span>
                <p>{{mainCtrl.ofertas[1].descripcion}}</p>
                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[1])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[1].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[1]);"></div>
                    <div class="btn-face"></div>
                </div>
            </div>
            <div id="ofertas-container-03" ng-if="mainCtrl.slider_nro == 3;">
                <img ng-src="./img/{{mainCtrl.ofertas[2].imagen}}" alt="{{mainCtrl.ofertas[2].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[2].titulo}}</span>
                <p>{{mainCtrl.ofertas[2].descripcion}}</p>
                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[2])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[2].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[2]);"></div>
                    <div class="btn-face"></div>
                </div>
            </div>
            <div id="ofertas-container-04" ng-if="mainCtrl.slider_nro == 4;">
                <img ng-src="./img/{{mainCtrl.ofertas[3].imagen}}" alt="{{mainCtrl.ofertas[3].imagen}}"/>
                <span class="oferta-titulo">{{mainCtrl.ofertas[3].titulo}}</span>
                <p>{{mainCtrl.ofertas[3].descripcion}}</p>
                <div class="btn-group">
                    <div class="btn-comprar" ng-click="mainCtrl.agregarOferta(mainCtrl.ofertas[3])">
                        <div class="btn-comprar-position">
                            <span style="color:red;">$ </span>{{mainCtrl.ofertas[3].precio}}
                        </div>
                    </div>
                    <div class="btn-info" ng-click="mainCtrl.showDetailsOferta(mainCtrl.ofertas[3]);"></div>
                    <div class="btn-face"></div>
                </div>
            </div>

            <!--div id="forward"
                 ng-click="(mainCtrl.slider_nro == 4)?mainCtrl.slider_nro=1:mainCtrl.slider_nro = mainCtrl.slider_nro + 1;">
                <
            </div>
            <div id="back"
                 ng-click="(mainCtrl.slider_nro == 1)?mainCtrl.slider_nro=4:mainCtrl.slider_nro = mainCtrl.slider_nro - 1;">
                >
            </div-->
            <div class="slider_1" ng-class="{slider_selected:mainCtrl.slider_nro==1}" ng-click="mainCtrl.slider_nro=1;"></div>
            <div class="slider_2" ng-class="{slider_selected:mainCtrl.slider_nro==2}" ng-click="mainCtrl.slider_nro=2;"></div>
            <div class="slider_3" ng-class="{slider_selected:mainCtrl.slider_nro==3}" ng-click="mainCtrl.slider_nro=3;"></div>
            <div class="slider_4" ng-class="{slider_selected:mainCtrl.slider_nro==4}" ng-click="mainCtrl.slider_nro=4;"></div>
        </div>

    </div>
    <div id="destacados" class="parallax__group">

        <!--<div>-->

        <div id="destacados_04"></div>
        <div id="destacados_03" class="parallax__layer parallax__layer--base"></div>
        <div id="destacados_01" class="parallax__layer parallax__layer--base"></div>
        <div id="destacados_02" class="parallax__layer parallax__layer--base"></div>
        <!--</div>-->

        <div class="title title-destacado  parallax__layer parallax__layer--base"
             ng-if="mainCtrl.active_form == 'main';">DESTACADOS
        </div>
        <div id="destacados_list" ng-if="mainCtrl.active_form == 'main';"
             class="">
            <div class="destacado" ng-repeat="destacado in mainCtrl.destacados" title="{{destacado.nombre}}">
                <div class="outline">
                    <div class="producto-nombre">{{destacado.nombre.toUpperCase()}}</div>
                    <img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/>

                    <div class="btn-group">

                        <div class="btn-comprar">
                            <button ng-click="mainCtrl.agregarProducto(destacado)">
                                <!--<img src="./img/boton.png" alt=""/>-->
                                <span>$</span>{{destacado.precios[0].precio}}
                            </button>
                        </div>
                        <div class="btn-info" ng-click="mainCtrl.showDetails(destacado);"></div>
                        <div class="btn-face"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="caverna" class="parallax__group">

        <!--<div >-->
        <div id="lava_06" class="parallax__layer parallax__layer--deeper-4-2"></div>
        <div id="lava_05" class="parallax__layer parallax__layer--deeper-4" style="width:700px"></div>
        <div id="lava_04" class="parallax__layer parallax__layer--deeper-3"></div>
        <div id="lava_03" class="parallax__layer parallax__layer--deeper-2"></div>
        <div id="lava_02" class="parallax__layer parallax__layer--deeper"></div>
        <div id="lava_01" class="parallax__layer parallax__layer--base"></div>
        <!--</div>-->
        <div class="title parallax__layer parallax__layer--base" ng-if="mainCtrl.active_form == 'main';">+VENDIDOS
        </div>
        <div id="vendidos_list" ng-if="mainCtrl.active_form == 'main';">
            <div class="destacado" ng-repeat="destacado in mainCtrl.vendidos" title="{{destacado.nombre}}">
                <div class="outline">
                    <div class="producto-nombre">{{destacado.nombre.toUpperCase()}}</div>
                    <img ng-src="./img/{{destacado.fotos[0].nombre}}" alt="{{destacado.nombre}}"/>

                    <div class="btn-group">

                        <div class="btn-comprar">
                            <button ng-click="mainCtrl.agregarProducto(destacado)">
                                <!--<img src="./img/boton.png" alt=""/>-->
                                <span>$</span>{{destacado.precios[0].precio}}
                            </button>
                        </div>
                        <div class="btn-info" ng-click="mainCtrl.showDetails(destacado);"></div>
                        <div class="btn-face"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="medios" class="parallax__group parallax__layer parallax__layer--base">
        <div></div>
        <div style="justify-content:center;">
            <span>MEDIOS DE PAGO:</span>
            <img src="img/medio_01.png" alt="" />
            <img src="img/medio_02.png" alt=""/>
            <img src="img/medio_03.png" alt=""/>
            <img src="img/medio_04.png" alt=""/>
            <img src="img/medio_05.png" alt=""/>
            <img src="img/medio_06.png" alt=""/>
        </div>
        <div></div>
    </div>
    <div id="footer" class="parallax__group parallax__layer parallax__layer--base">
        <div class="outer-center footer-outer">
            <div class="inner-center footer-inner">
                <div class="footer-container">
                    <div id="footer-upper">
                        <img src="img/logofooter.png" alt=""/>
                    </div>
                    <div id="footer-lower">
                        <div>
                            <div class="footer-lower-title">NAVEGACIÓN</div>
                            <br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.sucursalesForm();">SUCURSALES</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.ofertasForm();">OFERTAS</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.destacadosForm();">DESTACADOS</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.masVendidosForm();">+VENDIDOS</a><br/>
                        </div>
                        <div>
                            <div class="footer-lower-title">REGISTRO</div>
                            <br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.ingresarCliente();" href="">INGRESAR</a><br/>
                            <a class="footer-lower-link" ng-click="mainCtrl.crearCliente();" href="">REGISTRARSE</a><br/>
                        </div>
                        <div>
                            <div class="footer-lower-title">CARRITO</div>
                            <br/>
                            <a class="footer-lower-link">COMPRAS</a><br/>
                            <a class="footer-lower-link">CHECKOUT</a><br/>
                        </div>
                        <div>
                            <div class="footer-lower-title">REDES SOCIALES</div>
                            <br/>
                            <img src="img/social_01.png" alt="facebook" ng-click=""/>
                            <img src="img/social_02.png" alt="twitter"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/ac-angular-carrito/app/carrito.js"></script>
<script src="bower_components/ac-angular-login-carrito/app/login.js"></script>
<script src="bower_components/ac-angular-login-carrito/app/ac-login-ingresar.js"></script>
<script src="app.js"></script>
</body>
</html>
