/* line 1, ../sass/ac-parallax.scss */
.debug-on .parallax__group {
  -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

/* line 5, ../sass/ac-parallax.scss */
.debug-on .parallax__layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}

/* line 11, ../sass/ac-parallax.scss */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 800px;
  perspective: 800px;
  perspective-origin-x: 100%;
  background-color: #00fefe;
}

/* line 22, ../sass/ac-parallax.scss */
.parallax__group {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 35, ../sass/ac-parallax.scss */
.parallax__layer {
  transform-origin-x: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 44, ../sass/ac-parallax.scss */
.parallax__layer--fore-4 {
  -webkit-transform: translateZ(600px) scale(0.25);
  transform: translateZ(200px) scale(0.75);
  pointer-events: none;
}

/* line 52, ../sass/ac-parallax.scss */
.parallax__layer--fore-3 {
  -webkit-transform: translateZ(500px) scale(0.38);
  transform: translateZ(200px) scale(0.75);
  pointer-events: none;
}

/* line 59, ../sass/ac-parallax.scss */
.parallax__layer--fore-2 {
  -webkit-transform: translateZ(200px) scale(0.75);
  transform: translateZ(200px) scale(0.75);
  pointer-events: none;
}

/* line 66, ../sass/ac-parallax.scss */
.parallax__layer--fore-1 {
  -webkit-transform: translateZ(100px) scale(0.88);
  transform: translateZ(100px) scale(0.88);
  pointer-events: none;
}

/* line 73, ../sass/ac-parallax.scss */
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 79, ../sass/ac-parallax.scss */
.parallax__layer--back {
  -webkit-transform: translateZ(-10px) scale(0.98);
  transform: translateZ(-10px) scale(0.98);
}

/* line 85, ../sass/ac-parallax.scss */
.parallax__layer--deep {
  -webkit-transform: translateZ(-100px) scale(1.13);
  transform: translateZ(-100px) scale(1.13);
}

/* line 91, ../sass/ac-parallax.scss */
.parallax__layer--deeper {
  -webkit-transform: translateZ(-200px) scale(1.25);
  transform: translateZ(-200px) scale(1.25);
}

/* line 97, ../sass/ac-parallax.scss */
.parallax__layer--deeper-2 {
  -webkit-transform: translateZ(-400px) scale(1.5);
  transform: translateZ(-400px) scale(1.5);
}

/* line 102, ../sass/ac-parallax.scss */
.parallax__layer--deeper-2-1 {
  -webkit-transform: translateZ(-410px) scale(1.5);
  transform: translateZ(-410px) scale(1.5);
}

/* line 107, ../sass/ac-parallax.scss */
.parallax__layer--deeper-2-2 {
  -webkit-transform: translateZ(-420px) scale(1.5);
  transform: translateZ(-420px) scale(1.5);
}

/* line 114, ../sass/ac-parallax.scss */
.parallax__layer--deeper-3 {
  -webkit-transform: translateZ(-500px) scale(1.63);
  transform: translateZ(-500px) scale(1.63);
}

/* line 119, ../sass/ac-parallax.scss */
.parallax__layer--deeper-3-1 {
  -webkit-transform: translateZ(-510px) scale(1.63);
  transform: translateZ(-510px) scale(1.63);
}

/* line 124, ../sass/ac-parallax.scss */
.parallax__layer--deeper-3-2 {
  -webkit-transform: translateZ(-520px) scale(1.63);
  transform: translateZ(-520px) scale(1.63);
}

/* line 131, ../sass/ac-parallax.scss */
.parallax__layer--deeper-4 {
  -webkit-transform: translateZ(-600px) scale(1.75);
  transform: translateZ(-600px) scale(1.75);
}

/* line 136, ../sass/ac-parallax.scss */
.parallax__layer--deeper-4-1 {
  -webkit-transform: translateZ(-610px) scale(1.76);
  transform: translateZ(-610px) scale(1.76);
}

/* line 141, ../sass/ac-parallax.scss */
.parallax__layer--deeper-4-2 {
  -webkit-transform: translateZ(-620px) scale(1.77);
  transform: translateZ(-620px) scale(1.77);
}
