/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  overflow: hidden;
}

/* line 9, ../sass/style.scss */
#top {
  height: 75px;
  position: fixed;
  top: 0;
  right: 0px;
  left: 0px;
  z-index: 100;
  background-color: #737373;
}
/* line 17, ../sass/style.scss */
#top #login {
  height: 25px;
  min-width: 800px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Myriad Pro Bold Condensed', serif;
}
/* line 26, ../sass/style.scss */
#top #login a {
  color: #ffae00;
  font-family: 'Myriad Pro Regular', serif;
  text-decoration: none;
}
/* line 32, ../sass/style.scss */
#top #shop {
  height: 50px;
  min-width: 800px;
  background-color: #bcbcbc;
  font-family: 'Myriad Pro Condensed', serif;
  font-size: 16px;
}
@media (min-width: 700px) and (max-width: 1024px) {
  /* line 32, ../sass/style.scss */
  #top #shop {
    font-size: 80%;
  }
}
/* line 43, ../sass/style.scss */
#top #shop .shop-menu {
  display: flex;
}
/* line 46, ../sass/style.scss */
#top #shop .shop-menu span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/* line 56, ../sass/style.scss */
#top #shop .shop-menu #menu-spacer {
  flex: 3;
}
/* line 61, ../sass/style.scss */
#top #shop .shop-menu #menu-logo {
  min-width: 362px;
  height: 81px;
  position: relative;
  margin-top: 0px;
  margin-left: 25px;
  line-height: 60px;
  text-align: center;
  z-index: 101;
}
@media (max-width: 500px) {
  /* line 61, ../sass/style.scss */
  #top #shop .shop-menu #menu-logo {
    max-width: 300px;
  }
}
@media (max-width: 360px) {
  /* line 61, ../sass/style.scss */
  #top #shop .shop-menu #menu-logo {
    max-width: 250px;
    min-width: 250px !important;
  }
}
@media (max-width: 800px) {
  /* line 82, ../sass/style.scss */
  #top #shop .shop-menu #menu-logo img {
    pointer-events: none;
  }
}
@media (max-width: 360px) {
  /* line 82, ../sass/style.scss */
  #top #shop .shop-menu #menu-logo img {
    max-width: 250px;
  }
}
@media (max-width: 800px) {
  /* line 61, ../sass/style.scss */
  #top #shop .shop-menu #menu-logo {
    height: 50px;
  }
}
@media (max-width: 495px) {
  /* line 61, ../sass/style.scss */
  #top #shop .shop-menu #menu-logo {
    margin-left: 5px !important;
  }
}
/* line 108, ../sass/style.scss */
#top #shop .shop-menu #menu-home {
  max-height: 50px;
  background-color: #305139;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  flex: 1;
  line-height: 60px;
  text-align: center;
}
/* line 118, ../sass/style.scss */
#top #shop .shop-menu #menu-carrito {
  max-height: 50px;
  background-color: #D6D6D6;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  flex: 1;
  line-height: 60px;
  text-align: center;
}
/* line 129, ../sass/style.scss */
#top #shop .shop-menu #menu-account {
  max-height: 50px;
  background-color: #2E7445;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  flex: 1;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
/* line 140, ../sass/style.scss */
#top #shop .shop-menu #menu-checkout {
  max-height: 50px;
  background-color: #D6D6D6;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  flex: 1;
  line-height: 60px;
  text-align: center;
}
/* line 151, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle {
  max-height: 50px;
  min-width: 68px;
  background-color: #005B16;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex: 1;
  color: #ffffff;
}
/* line 163, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle img {
  max-width: 20px;
}
/* line 168, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle .detalle-compras {
  display: flex;
  flex-wrap: nowrap;
  max-width: 90px;
}
/* line 174, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle .detalle-compras img {
  flex: 1;
}
/* line 177, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle .detalle-compras span {
  margin-top: 5px;
  flex: 3;
  text-align: right;
}
/* line 191, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle div {
  height: 25px;
}
/* line 194, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle div ac-angular-carrito {
  max-width: 25px !important;
  width: 25px !important;
}
/* line 199, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle div ac-angular-carrito #ac-angular-carrito-snipet {
  width: 100%;
  max-width: 100px;
}
/* line 202, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle div ac-angular-carrito #ac-angular-carrito-snipet div {
  max-width: 78px !important;
  min-width: 78px !important;
}
/* line 206, ../sass/style.scss */
#top #shop .shop-menu #menu-detalle div ac-angular-carrito #ac-angular-carrito-snipet span {
  text-align: right;
  width: 90px;
}
@media (min-width: 800px) {
  /* line 206, ../sass/style.scss */
  #top #shop .shop-menu #menu-detalle div ac-angular-carrito #ac-angular-carrito-snipet span {
    width: 65px;
  }
}
/* line 222, ../sass/style.scss */
#top .inner-top {
  width: 100%;
  max-width: 800px;
}
/* line 226, ../sass/style.scss */
#top .outer-top {
  width: 100%;
  max-width: 800px;
}

/* line 233, ../sass/style.scss */
#menu-mobile-detail {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  align-items: center;
}
/* line 238, ../sass/style.scss */
#menu-mobile-detail div {
  margin-top: 20px;
  height: 40px;
  width: 100px;
  z-index: 300 !important;
}

/* line 247, ../sass/style.scss */
#sucursales {
  height: 600px;
  top: 75px;
  right: 0px;
  left: 0px;
}
/* line 262, ../sass/style.scss */
#sucursales #sucursales-01,
#sucursales #sucursales-02,
#sucursales #sucursales-03,
#sucursales #sucursales-04,
#sucursales #sucursales-05,
#sucursales #sucursales-06 {
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (max-width: 500px) {
  /* line 280, ../sass/style.scss */
  #sucursales #sucursales-01 {
    background: url("../img/sucursales_01M.png") 50% 50% no-repeat;
    image-rendering: pixelated;
    /* Chrome (and Safari) */
  }
}
@media (min-width: 501px) {
  /* line 280, ../sass/style.scss */
  #sucursales #sucursales-01 {
    background: url("../img/sucursales_01.png") 50% 50% no-repeat;
  }
}
@media (min-width: 501px) {
  /* line 298, ../sass/style.scss */
  #sucursales #sucursales-02 {
    background: url("../img/sucursales_02.png") 50% 50% no-repeat;
  }
}
/* line 303, ../sass/style.scss */
#sucursales #sucursales-03 {
  background: url("../img/sucursales_03.png") 50% 50% no-repeat;
}
/* line 306, ../sass/style.scss */
#sucursales #sucursales-04 {
  background: url("../img/sucursales_04.png") 50% 50% no-repeat;
}
/* line 309, ../sass/style.scss */
#sucursales #sucursales-05 {
  background: url("../img/sucursales_05.png") 50% 50% no-repeat;
  height: 1500px;
}
/* line 313, ../sass/style.scss */
#sucursales #sucursales-06 {
  background: url("../img/sucursales_06.png") 50% 50% no-repeat;
}

/* line 319, ../sass/style.scss */
#menu {
  height: 50px;
  top: 675px;
  right: 0px;
  left: 0px;
  background-color: khaki;
  z-index: 80;
}
/* line 327, ../sass/style.scss */
#menu #menu-container {
  background-color: green;
  z-index: 80;
  height: 100%;
  width: 100%;
}

/* line 336, ../sass/style.scss */
#tierra {
  height: 500px;
  top: 100px;
  right: 0px;
  left: 0px;
}
/* line 344, ../sass/style.scss */
#tierra #tierra_09,
#tierra #tierra_08,
#tierra #tierra_07,
#tierra #tierra_06,
#tierra #tierra_05,
#tierra #tierra_04,
#tierra #tierra_03,
#tierra #tierra_02,
#tierra #tierra_01 {
  height: 500px;
  width: 100%;
  position: absolute;
  z-index: 0;
}
/* line 364, ../sass/style.scss */
#tierra #tierra_04 {
  background: url("../img/tierra_04.jpg") 50% 0% no-repeat;
}
/* line 367, ../sass/style.scss */
#tierra #tierra_03 {
  background: url("../img/tierra_03.png") 50% 50% no-repeat;
}
/* line 370, ../sass/style.scss */
#tierra #tierra_02 {
  background: url("../img/tierra_02.png") 50% 50% no-repeat;
}
/* line 373, ../sass/style.scss */
#tierra #tierra_01 {
  background: url("../img/tierra_01.png") 50% 50% no-repeat;
}

/* line 397, ../sass/style.scss */
#destacados {
  height: 500px;
  top: 100px;
  right: 0px;
  left: 0px;
  z-index: 30;
}
/* line 405, ../sass/style.scss */
#destacados #destacados_04,
#destacados #destacados_03,
#destacados #destacados_02,
#destacados #destacados_01 {
  height: 500px;
  width: 100%;
}
/* line 414, ../sass/style.scss */
#destacados #destacados_04 {
  background: url("../img/destacados_04.jpg") 50% 0% no-repeat;
}
/* line 417, ../sass/style.scss */
#destacados #destacados_03 {
  background: url("../img/destacados_03.png") 50% 50% no-repeat;
}
/* line 420, ../sass/style.scss */
#destacados #destacados_02 {
  background: url("../img/destacados_02.png") 50% 50% no-repeat;
}
/* line 423, ../sass/style.scss */
#destacados #destacados_01 {
  background: url("../img/destacados_01.png") 50% 50% no-repeat;
}

/* line 428, ../sass/style.scss */
#caverna {
  height: 500px;
  top: 100px;
  right: 0px;
  left: 0px;
}
/* line 435, ../sass/style.scss */
#caverna #lava {
  background-color: darkcyan;
  height: 400px;
  top: 0px;
  right: 0px;
  left: 0px;
}
/* line 454, ../sass/style.scss */
#caverna #lava_21,
#caverna #lava_20,
#caverna #lava_19,
#caverna #lava_18,
#caverna #lava_17,
#caverna #lava_16,
#caverna #lava_15,
#caverna #lava_14,
#caverna #lava_13,
#caverna #lava_12,
#caverna #lava_11,
#caverna #lava_10,
#caverna #lava_09,
#caverna #lava_08,
#caverna #lava_07,
#caverna #lava_06,
#caverna #lava_05,
#caverna #lava_04,
#caverna #lava_03,
#caverna #lava_02,
#caverna #lava_01 {
  height: 500px;
  width: 100%;
  position: absolute;
}
/* line 496, ../sass/style.scss */
#caverna #lava_06 {
  background: url("../img/lava_06.png") 50% 0% no-repeat;
}
/* line 499, ../sass/style.scss */
#caverna #lava_05 {
  background: url("../img/lava_05.png") 50% 0% no-repeat;
}
/* line 502, ../sass/style.scss */
#caverna #lava_04 {
  background: url("../img/lava_04.png") 50% 0% no-repeat;
  height: 600px !important;
}
/* line 506, ../sass/style.scss */
#caverna #lava_03 {
  background: url("../img/lava_03.png") 50% 0% no-repeat;
  height: 700px !important;
}
/* line 510, ../sass/style.scss */
#caverna #lava_02 {
  background: url("../img/lava_02.png") 50% 50% no-repeat;
  height: 700px !important;
}
/* line 514, ../sass/style.scss */
#caverna #lava_01 {
  background: url("../img/lava_01.png") 50% 50% no-repeat;
  height: 700px !important;
}

/* line 521, ../sass/style.scss */
#medios {
  position: absolute;
  height: 50px;
  top: 2225px;
  right: 0px;
  left: 0px;
  z-index: 50;
  background-color: blue;
}

/* line 531, ../sass/style.scss */
#footer {
  position: absolute;
  height: 450px;
  top: 2275px;
  right: 0px;
  left: 0px;
  z-index: 50;
  background-color: #000000;
}

/* line 667, ../sass/style.scss */
.lineacontornoverde {
  border-style: Solid;
  border-color: #81BB3F;
  border-color: #81bb3f;
  border-width: 1px;
  position: relative;
  top: 5px;
  width: 97%;
  height: 530px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 683, ../sass/style.scss */
.lineacontornoverde .contenedor-inner-contacto-mapa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 800px) {
  /* line 683, ../sass/style.scss */
  .lineacontornoverde .contenedor-inner-contacto-mapa {
    flex-wrap: nowrap;
  }
}
/* line 692, ../sass/style.scss */
.lineacontornoverde .contenedor-inner-contacto-mapa .column {
  min-width: 100%;
  min-height: 480px;
}
@media (min-width: 800px) {
  /* line 692, ../sass/style.scss */
  .lineacontornoverde .contenedor-inner-contacto-mapa .column {
    min-width: 50%;
    max-width: 50%;
  }
}

/* line 704, ../sass/style.scss */
.Nombre {
  font-family: "Myriad Pro Regular";
  position: relative;
  font-size: 17px;
  color: white;
  top: 10px;
  color: white;
}

/* line 714, ../sass/style.scss */
.Consulta {
  font-family: "Myriad Pro Regular";
  position: relative;
  font-size: 17px;
  color: white;
  top: 27px;
  color: white;
}

/* line 725, ../sass/style.scss */
.Contacto {
  font-family: "Myriad Pro Bold Condensed";
  font-size: 50px;
  position: relative;
  line-height: 55px;
  color: #8cc63f;
  text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.75);
  top: 5px;
}

/* line 736, ../sass/style.scss */
.Apellido {
  font-family: Myriad "Myriad Pro Regular";
  position: relative;
  font-size: 17px;
  margin-top: 25px;
  color: white;
  color: white;
}

/* line 746, ../sass/style.scss */
.Email {
  font-family: "Myriad Pro Regular", serif;
  font-size: 17px;
  top: 15px;
  position: relative;
  color: white;
  color: white;
}

/* line 755, ../sass/style.scss */
.rectangulogrisoscuro {
  background: #000000;
  background: black;
  position: relative;
  opacity: 0.9;
  margin: auto;
  top: 5px;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  filter: alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
@media (max-width: 800px) {
  /* line 755, ../sass/style.scss */
  .rectangulogrisoscuro {
    overflow-y: auto;
  }
}

/* line 773, ../sass/style.scss */
.input3 {
  background: -moz-linear-gradient(50% 102.13% 90deg, white 0%, #dedede 100%);
  background: -webkit-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -webkit-gradient(linear, 50% 102.13%, 50% -0.71%, color-stop(0, white), color-stop(1, #dedede));
  background: -o-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -ms-linear-gradient(90deg, white 0%, #dedede 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DEDEDE' ,GradientType=0)";
  background: linear-gradient(0deg, #ffffff 0%, #dedede 100%);
  position: relative;
  font-family: "Myriad Pro Regular", serif;
  padding-top: 2px;
  margin: auto;
  top: 20px;
  width: 60%;
  height: 19px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.48);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE',endColorstr='#FFFFFF' , GradientType=0);
}

/* line 795, ../sass/style.scss */
.input4 {
  background: -moz-linear-gradient(50% 102.13% 90deg, white 0%, #dedede 100%);
  background: -webkit-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -webkit-gradient(linear, 50% 102.13%, 50% -0.71%, color-stop(0, white), color-stop(1, #dedede));
  background: -o-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -ms-linear-gradient(90deg, white 0%, #dedede 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DEDEDE' ,GradientType=0)";
  background: linear-gradient(0deg, #ffffff 0%, #dedede 100%);
  margin: auto;
  position: relative;
  font-family: "Myriad Pro Regular", serif;
  padding-top: 2px;
  width: 60%;
  top: 30px;
  height: 180px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.48);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE',endColorstr='#FFFFFF' , GradientType=0);
}

/* line 817, ../sass/style.scss */
.input2 {
  background: -moz-linear-gradient(50% 102.13% 90deg, white 0%, #dedede 100%);
  background: -webkit-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -webkit-gradient(linear, 50% 102.13%, 50% -0.71%, color-stop(0, white), color-stop(1, #dedede));
  background: -o-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -ms-linear-gradient(90deg, white 0%, #dedede 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DEDEDE' ,GradientType=0)";
  background: linear-gradient(0deg, #ffffff 0%, #dedede 100%);
  position: relative;
  margin: auto;
  font-family: "Myriad Pro Regular", serif;
  padding-top: 2px;
  top: 5px;
  width: 60%;
  height: 19px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.48);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE',endColorstr='#FFFFFF' , GradientType=0);
}

/* line 839, ../sass/style.scss */
.input1 {
  background: -moz-linear-gradient(50% 102.13% 90deg, white 0%, #dedede 100%);
  background: -webkit-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -webkit-gradient(linear, 50% 102.13%, 50% -0.71%, color-stop(0, white), color-stop(1, #dedede));
  background: -o-linear-gradient(90deg, white 0%, #dedede 100%);
  background: -ms-linear-gradient(90deg, white 0%, #dedede 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DEDEDE' ,GradientType=0)";
  background: linear-gradient(0deg, #ffffff 0%, #dedede 100%);
  position: relative;
  margin: auto;
  font-family: "Myriad Pro Regular", serif;
  padding-top: 2px;
  top: 15px;
  width: 60%;
  height: 19px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.48);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000') progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE',endColorstr='#FFFFFF' , GradientType=0);
}

/* line 861, ../sass/style.scss */
.boton {
  background-image: url("../img/boton-contacto.png");
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  top: 40px;
  width: 82px;
  height: 26px;
}
